#component__wrapper {
    display: grid;
    // background: #fff;
    height: 100%;
    align-content: center;
    justify-items: center;

    .block {
        background: #fff;
        padding: 3em;
        border-radius: 10px;
        box-shadow: 0 0 20px 0px #d0d0d0;
        border: 1px solid #dddddd;
    }
}