.smart-select {
    width: 100%;

    .selected {
        background: #fff;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .multiple-selection {

            gap: 5px;
            flex-wrap: wrap;
            display: flex;
            margin: 0px;

            .selected-values {
                background: #b0dcff;
                border-radius: 3px;
                display: inline-flex;
                gap: 1px;
                color: #00294a;
                font-weight: 500;
                overflow: hidden;
                font-size: 0.85rem;
                flex-direction: row;
                flex-wrap: nowrap;

                .text {
                    margin: 0;
                    padding: 0.3rem;
                    line-height: initial;
                }

                .remove-icon {
                    cursor: pointer;
                    font-size: 0.9rem;
                    transition: color 0.3s ease;
                    padding: 0 5px;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #0000000f;

                    &:hover {
                        color: #ff0000;
                    }
                }
            }
        }

    }

    .dropdown {
        position: absolute;
        width: 100%;
        top: calc(100% + 3px);
        background: #fff;
        border: 1px solid #ccc;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 999;
        border-radius: 6px;
        text-align: center;
        box-sizing: border-box;
        display: none;
        left: 0;

        .dropdown-header {

            .selected {
                background: #f1f1f1;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 1px solid #f1f1f1;
                border-radius: 5px;
                padding: 10px;
                font-weight: 600;
            }
        }

        .search-box {
            position: relative;

            .search-icon {
                position: absolute;
                top: 50%;
                left: 15px;
                transform: translateY(-50%);
                pointer-events: none;
            }

            input {
                width: calc(100% - 10px);
                padding: 10px;
                padding-left: 30px;
                border: 1px solid #ccc;
                border-radius: 5px;
                margin: 5px;
                display: block;
                box-shadow: none;
                outline: none;
            }
        }


    }

    ul.list-items {
        text-align: left;
        list-style: none;
        margin: 0;
        padding: 0;
        max-height: 210px;
        overflow-y: auto;

        li {
            padding: 10px;
            cursor: pointer;

            &:hover {
                background: #f0f0f0;
            }

            &.selected {
                background: #e0e0e0;
            }

            &.disabled {
                background: #f0f0f0;
                cursor: not-allowed;
                pointer-events: none;
            }
        }
    }

    &.multiple {
        ul.list-items li.selected {
            display: none;
        }
    }

    &.open .dropdown {
        display: block;

    }

    &.mobile {


        .dropdown {
            z-index: 999999;
            display: none;
            position: fixed;
            top: 20%;
            height: calc(100dvh - 20%); // Use dvh to account for mobile browser address b
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            max-width: 500px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            padding: 20px; // Add padding for safe area on mobile devices
            // max-height: 60vh; // Limit the dropdown height to avoid covering the entire screen
            overflow-y: auto; // Allow scrolling if the list is long
            background-color: white;
            transition: all 0.3s ease;
        }

        &.open {
            &::before {
                content: '';
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.852);
                z-index: 99999;
                pointer-events: ALL;
            }

            .dropdown {
                display: block;

            }

            body {
                overflow: hidden; // Disable scroll on the body when dropdown is open
            }

            .no-scroll {
                overflow: hidden; // Prevent scrolling on all divs when dropdown is open
            }

        }
    }
}