#print-controls {
    position: fixed !important;
    width: 100%;
    display: block;
    padding: 10px;
    background: #ffffff;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0px 7px #00000026;

    button {
        color: #fff;
        background-color: #1b48c6;
        border-color: #1b48c6;
    }

    @media print {
        display: none !important;
    }
}